<footer class="mt-32" style="background-color: rgba(37, 38, 65, 1)">
  <div class="">
    <div class="grid  grid-cols-1 lg:grid-cols-3">
      <div>
        <div class=" py-12 justify-center text-white items-center px-20">
          <div class="relative">

            <a href="/"><img src="img/blazync_logo_full.png" alt=""></a>
            <h1 class="text-xl text-center">Blazync Technologies</h1>
          </div>
          <div class="ml-6 text-justify mt-2 text-gray-400 text-sm">
            <p>Blazync Technologies is your premier partner for cutting-edge software solutions. We
              specialize in
              developing bespoke
              software.</p>
          </div>

        </div>
      </div>

      <div class="flex flex-col items-center justify-center">
        <div class=" justify-center text-white items-center px-20 sm:px-36">
          <h1 class="font-semibold text-3xl">Quick Menu</h1>
          <div class="grid grid-cols-2">
            <ul class="pt-2 text-left border-r mr-2 ">
              <a href="/">
                <li class="text-md hover:text-yellow-200">Home</li>
              </a>
              <a href="/services">
                <li class="text-md hover:text-yellow-200">Services</li>
              </a>
              <a href="/careers">
                <li class="text-md hover:text-yellow-200">Careers</li>
              </a>
              <a href="/about">
                <li class="text-md hover:text-yellow-200">About</li>
              </a>
              <a href="/portfolio">
                <li class="text-md hover:text-yellow-200">Portfolio</li>
              </a>
            </ul>
            <ul class="pt-2 text-left ml-2">
              <a href="/contact">
                <li class="text-md hover:text-yellow-200">Contact</li>
              </a>
              <a href="/login">
                <li class="text-md hover:text-yellow-200">Login</li>
              </a>
              <a href="/signup">
                <li class="text-md hover:text-yellow-200">SignUp</li>
              </a>
              <a href="/blazwhats">
                <li class="text-md hover:text-yellow-200">BlazWhats</li>
              </a>
              <a href="/blazschool">
                <li class="text-md hover:text-yellow-200">BlazSchool</li>
              </a>
            </ul>
          </div>
        </div>
      </div>
      <div>
        <div class="flex-col justify-center text-white items-center px-20 sm:px-36">
          <h1 class="font-semibold text-4xl mt-12 text-center">Contact Us</h1>
          <div class="text-center">
            <p class="my-3 text-gray-400 text-sm">
              Phone: +919470345817
            </p>
            <p class="my-3 text-gray-400 text-sm">
              Email: contact@blazync.com
            </p>
            <p class="my-3 text-gray-400 text-sm">
              Address: Ranchi
            </p>
          </div>

        </div>
        <div class="text-center">
          <label class="text-gray-300 font-semibold">Subscribe to get our Newsletter</label>
          <div class="px-5 sm:px-0 flex flex-col sm:flex-row sm:space-x-3 space-y-3 sm:space-y-0 justify-center mt-3">
            <input type="email" placeholder="Your Email"
              class="rounded-full py-2 pl-5 bg-transparent border border-gray-400" />
            <button type="submit" class="text-white w-40 sm:w-auto mx-auto sm:mx-0 font-semibold px-5 py-2 rounded-full"
              style="
                      background: linear-gradient(
                        105.5deg,
                        #545ae7 19.57%,
                        #393fcf 78.85%
                      );
                    ">
              Subscribe
            </button>
          </div>
        </div>

      </div>
    </div>

    <div class="flex items-center text-gray-400 text-sm justify-center mt-5">
      <a href="/privacy-policy" class="pr-3">Privacy Policy</a>
      <a href="/terms-and-conditions" class="border-l border-gray-400 pl-3">Terms & Conditions </a>
      <a href="/refund-policy" class="ml-2 border-l border-gray-400 px-3">Refund Policy</a>
    </div>
    <div class="text-center text-white">
      <p class="mt-2 text-gray-400 text-sm">
        Developed By: <span>Blazync Technologies</span>
      </p>
      <p class=" text-gray-400 text-sm">
        &copy; 2024 Blazync Technologies
      </p>

    </div>

  </div>
</footer>

<!-- Swiper CDN -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<!-- Main CSS -->
<script src="/assets/js/script.js"></script>
<!-- AOS init -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</body>

</html>