<%- include('includes/head') %>
    <section class="bg-white dark:bg-gray-900">
        <div class="grid max-w-screen-xl px-4 pt-20 pb-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 lg:pt-28">
            <div class="mr-auto place-self-center lg:col-span-7">
                <h1
                    class="max-w-2xl mb-4 text-darken   font-extrabold leading-none text-4xl tracking-tight md:text-5xl xl:text-6xl">
                    Effective School <br><span class="text-yellow-500">Management &amp; Software.</span>
                </h1>

                <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
                    BlazSchool is an all-in-one school management software solution that simplifies administrative tasks
                    and enhances the
                    overall efficiency of educational institutions. Whether it's managing fees, staff, or student
                    information, BlazSchool
                    offers a robust platform to streamline operations and improve educational outcomes.
                </p>

                <div class="space-y-4 sm:flex sm:space-y-0 sm:space-x-4">

                    <a href="" target="_blank"
                        class="inline-flex items-center justify-center w-full px-5 py-3 text-sm font-medium text-center text-gray-900 border border-gray-200 rounded-lg sm:w-auto hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                        <svg class="w-4 h-4 mr-2 text-gray-500 dark:text-gray-200" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
                            <path
                                d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z">
                            </path>
                        </svg> Free Trial
                    </a>

                    <a href="" target="_blank"
                        class="inline-flex items-center justify-center w-full px-5 py-3 mb-2 mr-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:w-auto focus:outline-none hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">

                        <svg class="w-4 h-4 mr-2" id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 300"
                            width="1667" height="2500">
                            <style type="text/css">
                                .st0 {
                                    fill: #0acf83
                                }

                                .st1 {
                                    fill: #a259ff
                                }

                                .st2 {
                                    fill: #f24e1e
                                }

                                .st3 {
                                    fill: #ff7262
                                }

                                .st4 {
                                    fill: #1abcfe
                                }
                            </style>
                            <title>Figma.logo</title>
                            <desc>Created using Figma</desc>
                            <path id="path0_fill" class="st0"
                                d="M50 300c27.6 0 50-22.4 50-50v-50H50c-27.6 0-50 22.4-50 50s22.4 50 50 50z"></path>
                            <path id="path1_fill" class="st1"
                                d="M0 150c0-27.6 22.4-50 50-50h50v100H50c-27.6 0-50-22.4-50-50z"></path>
                            <path id="path1_fill_1_" class="st2"
                                d="M0 50C0 22.4 22.4 0 50 0h50v100H50C22.4 100 0 77.6 0 50z"></path>
                            <path id="path2_fill" class="st3" d="M100 0h50c27.6 0 50 22.4 50 50s-22.4 50-50 50h-50V0z">
                            </path>
                            <path id="path3_fill" class="st4"
                                d="M200 150c0 27.6-22.4 50-50 50s-50-22.4-50-50 22.4-50 50-50 50 22.4 50 50z"></path>
                        </svg>
                        Download Brochure
                    </a>

                </div>
            </div>

            <div class=" lg:mt-0 lg:col-span-5 lg:flex">
                <img src="https://demo.themesberg.com/landwind/images/hero.png" alt="hero image">
            </div>

        </div>
    </section>
    <section class="container px-4  lg:px-8 mx-auto max-w-screen-xl text-gray-700 overflow-x-hidden">

        <hr class="my-20">
        <div class="md:flex mt-20 md:space-x-10 items-start">

            <div data-aos="fade-down" class="md:w-5/12 mt-20 md:mt-0 text-gray-500">
                <h1 class="text-2xl font-semibold text-darken lg:pr-40">
                    Revolutionizing <span class="text-yellow-500"> Education System
                </h1>
                <p>Elevate your online presence with our professional website development services. We specialize in
                    creating visually
                    appealing, user-friendly websites that drive engagement and conversions. From concept to launch, our
                    team collaborates
                    closely with you to understand your brand and objectives, delivering tailored solutions that align
                    with your business
                    goals.</p>
                <div class="flex items-center space-x-5 my-5">
                    <div class="flex-shrink bg-white shadow-lg rounded-full p-3 flex items-center justify-center">
                        <svg class="w-4 h-4" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="11.8182" height="11.8182" rx="2" fill="#2F327D" />
                            <rect y="14.1816" width="11.8182" height="11.8182" rx="2" fill="#2F327D" />
                            <rect x="14.7727" width="11.8182" height="11.8182" rx="2" fill="#2F327D" />
                            <rect x="14.7727" y="14.1816" width="11.8182" height="11.8182" rx="2" fill="#F48C06" />
                        </svg>
                    </div>
                    <p>
                        Fee Management: Simplify the fee collection process with automated billing, payment tracking,
                        and receipt generation.
                    </p>
                </div>
                <div class="flex items-center space-x-5 my-5">
                    <div class="flex-shrink bg-white shadow-lg rounded-full p-3 flex items-center justify-center">
                        <svg class="w-4 h-4" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="11.8182" height="11.8182" rx="2" fill="#2F327D" />
                            <rect y="14.1816" width="11.8182" height="11.8182" rx="2" fill="#2F327D" />
                            <rect x="14.7727" width="11.8182" height="11.8182" rx="2" fill="#2F327D" />
                            <rect x="14.7727" y="14.1816" width="11.8182" height="11.8182" rx="2" fill="#F48C06" />
                        </svg>
                    </div>
                    <p>
                        Parent and Teacher Portals: Enhance communication between parents and teachers with dedicated
                        portals for updates,
                        announcements, and progress reports.
                    </p>
                </div>
                <div class="flex items-center space-x-5 my-5">
                    <div class="flex-shrink bg-white shadow-lg rounded-full p-3 flex items-center justify-center">
                        <svg class="w-4 h-4" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="8" y="6" width="20" height="20" rx="2" fill="#2F327D" />
                            <rect width="21.2245" height="21.2245" rx="2" fill="#F48C06" />
                        </svg>
                    </div>
                    <p>Staff Management: Efficiently manage staff records, payroll, attendance, and performance
                        evaluations.</p>
                </div>
                <div class="flex items-center space-x-5 my-5">
                    <div class="flex-shrink bg-white shadow-lg rounded-full p-3 flex items-center justify-center">
                        <svg class="w-4 h-4" viewBox="0 0 30 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4.5 11.375C6.15469 11.375 7.5 9.91758 7.5 8.125C7.5 6.33242 6.15469 4.875 4.5 4.875C2.84531 4.875 1.5 6.33242 1.5 8.125C1.5 9.91758 2.84531 11.375 4.5 11.375ZM25.5 11.375C27.1547 11.375 28.5 9.91758 28.5 8.125C28.5 6.33242 27.1547 4.875 25.5 4.875C23.8453 4.875 22.5 6.33242 22.5 8.125C22.5 9.91758 23.8453 11.375 25.5 11.375ZM27 13H24C23.175 13 22.4297 13.3605 21.8859 13.9445C23.775 15.0668 25.1156 17.093 25.4062 19.5H28.5C29.3297 19.5 30 18.7738 30 17.875V16.25C30 14.4574 28.6547 13 27 13ZM15 13C17.9016 13 20.25 10.4559 20.25 7.3125C20.25 4.16914 17.9016 1.625 15 1.625C12.0984 1.625 9.75 4.16914 9.75 7.3125C9.75 10.4559 12.0984 13 15 13ZM18.6 14.625H18.2109C17.2359 15.1328 16.1531 15.4375 15 15.4375C13.8469 15.4375 12.7688 15.1328 11.7891 14.625H11.4C8.41875 14.625 6 17.2453 6 20.475V21.9375C6 23.2832 7.00781 24.375 8.25 24.375H21.75C22.9922 24.375 24 23.2832 24 21.9375V20.475C24 17.2453 21.5812 14.625 18.6 14.625ZM8.11406 13.9445C7.57031 13.3605 6.825 13 6 13H3C1.34531 13 0 14.4574 0 16.25V17.875C0 18.7738 0.670312 19.5 1.5 19.5H4.58906C4.88438 17.093 6.225 15.0668 8.11406 13.9445Z"
                                fill="#2F327D" />
                        </svg>
                    </div>
                    <p>
                        Student Information System: Maintain detailed student records, including academic performance,
                        attendance, and personal
                        information.
                    </p>
                </div>

            </div>
            <div data-aos="fade-down" class="md:w-7/12 relative">

                <img class="relative z-40 floating rounded-lg h-full w-full" src="img/contact.jpg" alt="" />

            </div>
        </div>
        <div class="flex flex-col md:flex-row items-center mt-12">
            <img data-aos="fade-left" class="md:w-7/12 aos-init aos-animate" src="img/gradebook.png">
            <div data-aos="fade-right" class="md:w-5/12 aos-init aos-animate">
                <h1 class="text-darken font-semibold text-2xl leading-tight lg:pr-32">
                    <span class="text-yellow-500">Enhancement of </span>educational experience
                </h1>
                <p class="my-5 lg:pr-14">
                    BlazSchool offers a variety of tools to enhance the educational experience for students. From online
                    assignments and
                    assessments to interactive learning modules, BlazSchool supports a blended learning approach that
                    caters to different
                    learning styles. By integrating technology into the classroom, BlazSchool helps schools prepare
                    students for the future,
                    fostering a tech-savvy generation that is ready to tackle the challenges of the digital age.
                </p>
            </div>

        </div>
        <hr class="my-20">
        <div class="md:flex mt-20 md:space-x-10 items-start">

            <div data-aos="fade-down" class="md:w-5/12 mt-20 md:mt-0 text-gray-500">
                <h1 class="text-2xl font-semibold text-darken lg:pr-40">
                    Your <span class="text-yellow-500"> Benefits
                </h1>
                <p>BlazSchool is designed to support educational institutions in delivering high-quality education by
                    simplifying and
                    automating various administrative tasks, allowing educators to focus more on teaching and less on
                    paperwork.</p>
                <div class="flex items-center space-x-5 my-5">
                    <div class="flex-shrink bg-white shadow-lg rounded-full p-3 flex items-center justify-center">
                        <svg class="w-4 h-4" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="11.8182" height="11.8182" rx="2" fill="#2F327D" />
                            <rect y="14.1816" width="11.8182" height="11.8182" rx="2" fill="#2F327D" />
                            <rect x="14.7727" width="11.8182" height="11.8182" rx="2" fill="#2F327D" />
                            <rect x="14.7727" y="14.1816" width="11.8182" height="11.8182" rx="2" fill="#F48C06" />
                        </svg>
                    </div>
                    <p>
                        Streamlined Administration: Reduce administrative burden and increase operational efficiency.
                    </p>
                </div>
                <div class="flex items-center space-x-5 my-5">
                    <div class="flex-shrink bg-white shadow-lg rounded-full p-3 flex items-center justify-center">
                        <svg class="w-4 h-4" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="8" y="6" width="20" height="20" rx="2" fill="#2F327D" />
                            <rect width="21.2245" height="21.2245" rx="2" fill="#F48C06" />
                        </svg>
                    </div>
                    <p>Improved Communication: Foster better communication between staff, students, and parents.</p>
                </div>
                <div class="flex items-center space-x-5 my-5">
                    <div class="flex-shrink bg-white shadow-lg rounded-full p-3 flex items-center justify-center">
                        <svg class="w-4 h-4" viewBox="0 0 30 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4.5 11.375C6.15469 11.375 7.5 9.91758 7.5 8.125C7.5 6.33242 6.15469 4.875 4.5 4.875C2.84531 4.875 1.5 6.33242 1.5 8.125C1.5 9.91758 2.84531 11.375 4.5 11.375ZM25.5 11.375C27.1547 11.375 28.5 9.91758 28.5 8.125C28.5 6.33242 27.1547 4.875 25.5 4.875C23.8453 4.875 22.5 6.33242 22.5 8.125C22.5 9.91758 23.8453 11.375 25.5 11.375ZM27 13H24C23.175 13 22.4297 13.3605 21.8859 13.9445C23.775 15.0668 25.1156 17.093 25.4062 19.5H28.5C29.3297 19.5 30 18.7738 30 17.875V16.25C30 14.4574 28.6547 13 27 13ZM15 13C17.9016 13 20.25 10.4559 20.25 7.3125C20.25 4.16914 17.9016 1.625 15 1.625C12.0984 1.625 9.75 4.16914 9.75 7.3125C9.75 10.4559 12.0984 13 15 13ZM18.6 14.625H18.2109C17.2359 15.1328 16.1531 15.4375 15 15.4375C13.8469 15.4375 12.7688 15.1328 11.7891 14.625H11.4C8.41875 14.625 6 17.2453 6 20.475V21.9375C6 23.2832 7.00781 24.375 8.25 24.375H21.75C22.9922 24.375 24 23.2832 24 21.9375V20.475C24 17.2453 21.5812 14.625 18.6 14.625ZM8.11406 13.9445C7.57031 13.3605 6.825 13 6 13H3C1.34531 13 0 14.4574 0 16.25V17.875C0 18.7738 0.670312 19.5 1.5 19.5H4.58906C4.88438 17.093 6.225 15.0668 8.11406 13.9445Z"
                                fill="#2F327D" />
                        </svg>
                    </div>
                    <p>
                        Enhanced Learning Environment: Create a more organized and productive learning environment with
                        efficient management
                        tools.
                    </p>
                </div>

            </div>
            <div data-aos="fade-down" class="md:w-7/12 relative">

                <img class="relative z-40 floating rounded-lg h-full w-full" src="img/contact.jpg" alt="" />

            </div>
        </div>
        <div class="flex flex-col md:flex-row items-center mt-12">
            <img data-aos="fade-left" class="md:w-7/12 aos-init aos-animate" src="img/gradebook.png">
            <div data-aos="fade-right" class="md:w-5/12 aos-init aos-animate">
                <h1 class="text-darken font-semibold text-2xl leading-tight lg:pr-32">
                    <span class="text-yellow-500">Empowering Educators </span> with Innovative Tools
                </h1>
                <p class="my-5 lg:pr-14">
                    BlazSchool is more than just a management system; it's a comprehensive platform designed to empower
                    educators with the
                    tools they need to provide an exceptional learning experience. With its intuitive interface and
                    user-friendly design,
                    BlazSchool makes it easy for teachers to manage their classrooms, track student progress, and
                    communicate with parents.
                    The platform's robust analytics tools provide valuable insights into student performance, helping
                    educators identify
                    areas for improvement and tailor their teaching strategies accordingly.
                </p>
            </div>

        </div>

        <hr class="my-10">
        <div class="mx-auto  max-w-6xl text-center p-6 dark:bg-gray-900">
            <h1 class="font-bold text-blue-300  text-4xl text-center mb-10">

                The<span class="text-yellow-500">Features</span>
            </h1>
            <div class="gr mx-auto items-stretch space-y-4 text-left sm:flex sm:space-y-0 sm:space-x-8 sm:text-center">
                <a class="flex w-full items-center rounded-xl border border-black border-opacity-10 px-4 py-6 text-black duration-200 hover:border-opacity-0 hover:no-underline hover:shadow-lg dark:text-white dark:hover:bg-white dark:hover:bg-opacity-10 sm:flex-col sm:hover:shadow-2xl"
                    href="#" target="_blank">
                    <img class="mr-4 w-12 sm:mr-0 sm:h-32 sm:w-32"
                        src="https://swiperjs.com/images/projects/framework7.svg" alt="Framework7">
                    <div>
                        <div class="font-semibold text-black dark:text-white sm:mt-4 sm:mb-2">Efficient Fee Management
                        </div>
                        <div class="text-sm opacity-75">Simplify the fee collection process with automated billing,
                            payment tracking, and receipt generation. Our fee management
                            feature ensures accurate and timely payments, reducing administrative burden and minimizing
                            errors.
                        </div>
                    </div>
                </a>
                <a class="flex w-full items-center rounded-xl border border-black border-opacity-10 px-4 py-6 text-black duration-200 hover:border-opacity-0 hover:no-underline hover:shadow-lg dark:text-white dark:hover:bg-white dark:hover:bg-opacity-10 sm:flex-col sm:hover:shadow-2xl"
                    href="#" target="_blank">
                    <img class="mr-4 w-12 sm:mr-0 sm:h-32 sm:w-32"
                        src="https://swiperjs.com/images/projects/atropos.svg" alt="Atropos">
                    <div>
                        <div class="font-semibold text-black dark:text-white sm:mt-4 sm:mb-2">Advanced Staff Management
                        </div>
                        <div class="text-sm opacity-75">Manage all aspects of staff records, including payroll,
                            attendance, and performance evaluations. This feature helps
                            administrators maintain a well-organized database of staff information, ensuring smooth
                            operations and efficient HR
                            management.</div>
                    </div>
                </a>
                <a class="flex w-full items-center rounded-xl border border-black border-opacity-10 px-4 py-6 text-black duration-200 hover:border-opacity-0 hover:no-underline hover:shadow-lg dark:text-white dark:hover:bg-white dark:hover:bg-opacity-10 sm:flex-col sm:hover:shadow-2xl"
                    href="#" target="_blank">
                    <img class="mr-4 w-12 sm:mr-0 sm:h-32 sm:w-32" src="https://swiperjs.com/images/projects/konsta.svg"
                        alt="Konsta UI">
                    <div>
                        <div class="font-semibold text-black dark:text-white sm:mt-4 sm:mb-2">Centralized Student
                            Information
                        </div>
                        <div class="text-sm opacity-75">Maintain detailed and easily accessible student records,
                            including academic performance, attendance, and personal
                            information. This centralized system allows for quick retrieval and updates, enhancing
                            overall administrative
                            efficiency.</div>
                    </div>
                </a>
                <a class="flex w-full items-center rounded-xl border border-black border-opacity-10 px-4 py-6 text-black duration-200 hover:border-opacity-0 hover:no-underline hover:shadow-lg dark:text-white dark:hover:bg-white dark:hover:bg-opacity-10 sm:flex-col sm:hover:shadow-2xl"
                    href="#" target="_blank">
                    <img class="mr-4 w-12 sm:mr-0 sm:h-32 sm:w-32" src="https://swiperjs.com/images/projects/konsta.svg"
                        alt="Konsta UI">
                    <div>
                        <div class="font-semibold text-black dark:text-white sm:mt-4 sm:mb-2">Parent and Teacher Portals
                        </div>
                        <div class="text-sm opacity-75">Foster better communication between parents and teachers with
                            dedicated portals for updates, announcements, and progress
                            reports. This feature ensures that parents are always informed about their child's academic
                            journey and school
                            activities.</div>
                    </div>
                </a>

            </div>
        </div>

        <hr class="my-10">
        <div class="box-border px-4 mx-auto border-solid sm:px-6 md:px-6 lg:px-0 max-w-7xl">

            <div class="flex flex-col items-center leading-7 text-center text-gray-900 border-0 border-gray-200">
                <h1 class="font-bold text-blue-300  text-4xl text-center">

                    Our <span class="text-yellow-500">Pricing</span>
                </h1>
                <p class="box-border mt-2 text-xl text-gray-900 border-solid sm:text-2xl">
                </p>
            </div>


            <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
                <div class="border-blue-600 rounded-2xl border  divide-y divide-gray-200 max-w-sm mx-auto mt-20"
                    style="box-shadow: rgba(45, 50, 130, 0.15) 0px 12px 16px -4px, rgba(45, 50, 130, 0.15) 0px 4px 6px -2px;">
                    <div class="p-6">
                        <div class="flex justify-between">
                            <h2 class="text-lg font-semibold text-gray-600">Professional</h2>
                        </div>
                        <p class="mt-0.5 text-sm text-gray-500">For established companies</p>
                        <p class="mt-8"><span class="text-4xl font-bold tracking-tight text-gray-900">$49</span>
                            <span class="text-base font-medium text-gray-500">/mo</span>
                        </p>
                        <a href="#" target="_blank"
                            class="flex justify-center w-full py-3 mt-4 text-sm font-medium text-white bg-indigo-600 border border-indigo-600 rounded active:text-indigo-500 hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring">Get
                            started now</a>
                    </div>
                    <div class="px-6 pt-6 pb-8">
                        <h3 class="text-sm font-medium text-gray-900">What's included</h3>
                        <ul role="list" class="mt-6 space-y-4">
                            <li class="flex space-x-3">
                                <div class="flex justify-center items-center rounded-full bg-green-100 h-5 w-5"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                        aria-hidden="true" class="h-3 w-3 flex-shrink-0 text-green-500">
                                        <path fill-rule="evenodd"
                                            d="M20.707 5.293a1 1 0 010 1.414l-11 11a1 1 0 01-1.414 0l-5-5a1 1 0 111.414-1.414L9 15.586 19.293 5.293a1 1 0 011.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <span class="text-sm text-gray-500">5 workspaces</span>
                            </li>
                            <li class="flex space-x-3">
                                <div class="flex justify-center items-center rounded-full bg-green-100 h-5 w-5"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                        aria-hidden="true" class="h-3 w-3 flex-shrink-0 text-green-500">
                                        <path fill-rule="evenodd"
                                            d="M20.707 5.293a1 1 0 010 1.414l-11 11a1 1 0 01-1.414 0l-5-5a1 1 0 111.414-1.414L9 15.586 19.293 5.293a1 1 0 011.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <span class="text-sm text-gray-500">Unlimited testimonials</span>
                            </li>
                            <li class="flex space-x-3">
                                <div class="flex justify-center items-center rounded-full bg-green-100 h-5 w-5"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                        aria-hidden="true" class="h-3 w-3 flex-shrink-0 text-green-500">
                                        <path fill-rule="evenodd"
                                            d="M20.707 5.293a1 1 0 010 1.414l-11 11a1 1 0 01-1.414 0l-5-5a1 1 0 111.414-1.414L9 15.586 19.293 5.293a1 1 0 011.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <span class="text-sm text-gray-500">10 collection forms</span>
                            </li>
                            <li class="flex space-x-3">
                                <div class="flex justify-center items-center rounded-full bg-green-100 h-5 w-5"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                        aria-hidden="true" class="h-3 w-3 flex-shrink-0 text-green-500">
                                        <path fill-rule="evenodd"
                                            d="M20.707 5.293a1 1 0 010 1.414l-11 11a1 1 0 01-1.414 0l-5-5a1 1 0 111.414-1.414L9 15.586 19.293 5.293a1 1 0 011.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <span class="text-sm text-gray-500">20 embeddable widgets</span>
                            </li>
                            <li class="flex space-x-3">
                                <div class="flex justify-center items-center rounded-full bg-green-100 h-5 w-5"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                        aria-hidden="true" class="h-3 w-3 flex-shrink-0 text-green-500">
                                        <path fill-rule="evenodd"
                                            d="M20.707 5.293a1 1 0 010 1.414l-11 11a1 1 0 01-1.414 0l-5-5a1 1 0 111.414-1.414L9 15.586 19.293 5.293a1 1 0 011.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <span class="text-sm text-gray-500">White labeled widgets and forms</span>
                            </li>
                            <li class="flex space-x-3">
                                <div class="flex justify-center items-center rounded-full bg-green-100 h-5 w-5"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                        aria-hidden="true" class="h-3 w-3 flex-shrink-0 text-green-500">
                                        <path fill-rule="evenodd"
                                            d="M20.707 5.293a1 1 0 010 1.414l-11 11a1 1 0 01-1.414 0l-5-5a1 1 0 111.414-1.414L9 15.586 19.293 5.293a1 1 0 011.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <span class="text-sm text-gray-500">Custom branding (logo, colors, etc...)</span>
                            </li>
                            <li class="flex space-x-3">
                                <div class="flex justify-center items-center rounded-full bg-green-100 h-5 w-5"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                        aria-hidden="true" class="h-3 w-3 flex-shrink-0 text-green-500">
                                        <path fill-rule="evenodd"
                                            d="M20.707 5.293a1 1 0 010 1.414l-11 11a1 1 0 01-1.414 0l-5-5a1 1 0 111.414-1.414L9 15.586 19.293 5.293a1 1 0 011.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <span class="text-sm text-gray-500">2 members per workspace</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="border-blue-600 rounded-2xl border  divide-y divide-gray-200 max-w-sm mx-auto mt-20"
                    style="box-shadow: rgba(45, 50, 130, 0.15) 0px 12px 16px -4px, rgba(45, 50, 130, 0.15) 0px 4px 6px -2px;">
                    <div class="p-6">
                        <div class="flex justify-between">
                            <h2 class="text-lg font-semibold text-gray-600">Professional</h2>
                        </div>
                        <p class="mt-0.5 text-sm text-gray-500">For established companies</p>
                        <p class="mt-8"><span class="text-4xl font-bold tracking-tight text-gray-900">$49</span>
                            <span class="text-base font-medium text-gray-500">/mo</span>
                        </p>
                        <a href="#" target="_blank"
                            class="flex justify-center w-full py-3 mt-4 text-sm font-medium text-white bg-indigo-600 border border-indigo-600 rounded active:text-indigo-500 hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring">Get
                            started now</a>
                    </div>
                    <div class="px-6 pt-6 pb-8">
                        <h3 class="text-sm font-medium text-gray-900">What's included</h3>
                        <ul role="list" class="mt-6 space-y-4">
                            <li class="flex space-x-3">
                                <div class="flex justify-center items-center rounded-full bg-green-100 h-5 w-5"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                        aria-hidden="true" class="h-3 w-3 flex-shrink-0 text-green-500">
                                        <path fill-rule="evenodd"
                                            d="M20.707 5.293a1 1 0 010 1.414l-11 11a1 1 0 01-1.414 0l-5-5a1 1 0 111.414-1.414L9 15.586 19.293 5.293a1 1 0 011.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <span class="text-sm text-gray-500">5 workspaces</span>
                            </li>
                            <li class="flex space-x-3">
                                <div class="flex justify-center items-center rounded-full bg-green-100 h-5 w-5"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                        aria-hidden="true" class="h-3 w-3 flex-shrink-0 text-green-500">
                                        <path fill-rule="evenodd"
                                            d="M20.707 5.293a1 1 0 010 1.414l-11 11a1 1 0 01-1.414 0l-5-5a1 1 0 111.414-1.414L9 15.586 19.293 5.293a1 1 0 011.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <span class="text-sm text-gray-500">Unlimited testimonials</span>
                            </li>
                            <li class="flex space-x-3">
                                <div class="flex justify-center items-center rounded-full bg-green-100 h-5 w-5"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                        aria-hidden="true" class="h-3 w-3 flex-shrink-0 text-green-500">
                                        <path fill-rule="evenodd"
                                            d="M20.707 5.293a1 1 0 010 1.414l-11 11a1 1 0 01-1.414 0l-5-5a1 1 0 111.414-1.414L9 15.586 19.293 5.293a1 1 0 011.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <span class="text-sm text-gray-500">10 collection forms</span>
                            </li>
                            <li class="flex space-x-3">
                                <div class="flex justify-center items-center rounded-full bg-green-100 h-5 w-5"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                        aria-hidden="true" class="h-3 w-3 flex-shrink-0 text-green-500">
                                        <path fill-rule="evenodd"
                                            d="M20.707 5.293a1 1 0 010 1.414l-11 11a1 1 0 01-1.414 0l-5-5a1 1 0 111.414-1.414L9 15.586 19.293 5.293a1 1 0 011.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <span class="text-sm text-gray-500">20 embeddable widgets</span>
                            </li>
                            <li class="flex space-x-3">
                                <div class="flex justify-center items-center rounded-full bg-green-100 h-5 w-5"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                        aria-hidden="true" class="h-3 w-3 flex-shrink-0 text-green-500">
                                        <path fill-rule="evenodd"
                                            d="M20.707 5.293a1 1 0 010 1.414l-11 11a1 1 0 01-1.414 0l-5-5a1 1 0 111.414-1.414L9 15.586 19.293 5.293a1 1 0 011.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <span class="text-sm text-gray-500">White labeled widgets and forms</span>
                            </li>
                            <li class="flex space-x-3">
                                <div class="flex justify-center items-center rounded-full bg-green-100 h-5 w-5"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                        aria-hidden="true" class="h-3 w-3 flex-shrink-0 text-green-500">
                                        <path fill-rule="evenodd"
                                            d="M20.707 5.293a1 1 0 010 1.414l-11 11a1 1 0 01-1.414 0l-5-5a1 1 0 111.414-1.414L9 15.586 19.293 5.293a1 1 0 011.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <span class="text-sm text-gray-500">Custom branding (logo, colors, etc...)</span>
                            </li>
                            <li class="flex space-x-3">
                                <div class="flex justify-center items-center rounded-full bg-green-100 h-5 w-5"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                        aria-hidden="true" class="h-3 w-3 flex-shrink-0 text-green-500">
                                        <path fill-rule="evenodd"
                                            d="M20.707 5.293a1 1 0 010 1.414l-11 11a1 1 0 01-1.414 0l-5-5a1 1 0 111.414-1.414L9 15.586 19.293 5.293a1 1 0 011.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <span class="text-sm text-gray-500">2 members per workspace</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="border-blue-600 rounded-2xl border  divide-y divide-gray-200 max-w-sm mx-auto mt-20"
                    style="box-shadow: rgba(45, 50, 130, 0.15) 0px 12px 16px -4px, rgba(45, 50, 130, 0.15) 0px 4px 6px -2px;">
                    <div class="p-6">
                        <div class="flex justify-between">
                            <h2 class="text-lg font-semibold text-gray-600">Professional</h2>
                        </div>
                        <p class="mt-0.5 text-sm text-gray-500">For established companies</p>
                        <p class="mt-8"><span class="text-4xl font-bold tracking-tight text-gray-900">$49</span>
                            <span class="text-base font-medium text-gray-500">/mo</span>
                        </p>
                        <a href="#" target="_blank"
                            class="flex justify-center w-full py-3 mt-4 text-sm font-medium text-white bg-indigo-600 border border-indigo-600 rounded active:text-indigo-500 hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring">Get
                            started now</a>
                    </div>
                    <div class="px-6 pt-6 pb-8">
                        <h3 class="text-sm font-medium text-gray-900">What's included</h3>
                        <ul role="list" class="mt-6 space-y-4">
                            <li class="flex space-x-3">
                                <div class="flex justify-center items-center rounded-full bg-green-100 h-5 w-5"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                        aria-hidden="true" class="h-3 w-3 flex-shrink-0 text-green-500">
                                        <path fill-rule="evenodd"
                                            d="M20.707 5.293a1 1 0 010 1.414l-11 11a1 1 0 01-1.414 0l-5-5a1 1 0 111.414-1.414L9 15.586 19.293 5.293a1 1 0 011.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <span class="text-sm text-gray-500">5 workspaces</span>
                            </li>
                            <li class="flex space-x-3">
                                <div class="flex justify-center items-center rounded-full bg-green-100 h-5 w-5"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                        aria-hidden="true" class="h-3 w-3 flex-shrink-0 text-green-500">
                                        <path fill-rule="evenodd"
                                            d="M20.707 5.293a1 1 0 010 1.414l-11 11a1 1 0 01-1.414 0l-5-5a1 1 0 111.414-1.414L9 15.586 19.293 5.293a1 1 0 011.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <span class="text-sm text-gray-500">Unlimited testimonials</span>
                            </li>
                            <li class="flex space-x-3">
                                <div class="flex justify-center items-center rounded-full bg-green-100 h-5 w-5"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                        aria-hidden="true" class="h-3 w-3 flex-shrink-0 text-green-500">
                                        <path fill-rule="evenodd"
                                            d="M20.707 5.293a1 1 0 010 1.414l-11 11a1 1 0 01-1.414 0l-5-5a1 1 0 111.414-1.414L9 15.586 19.293 5.293a1 1 0 011.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <span class="text-sm text-gray-500">10 collection forms</span>
                            </li>
                            <li class="flex space-x-3">
                                <div class="flex justify-center items-center rounded-full bg-green-100 h-5 w-5"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                        aria-hidden="true" class="h-3 w-3 flex-shrink-0 text-green-500">
                                        <path fill-rule="evenodd"
                                            d="M20.707 5.293a1 1 0 010 1.414l-11 11a1 1 0 01-1.414 0l-5-5a1 1 0 111.414-1.414L9 15.586 19.293 5.293a1 1 0 011.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <span class="text-sm text-gray-500">20 embeddable widgets</span>
                            </li>
                            <li class="flex space-x-3">
                                <div class="flex justify-center items-center rounded-full bg-green-100 h-5 w-5"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                        aria-hidden="true" class="h-3 w-3 flex-shrink-0 text-green-500">
                                        <path fill-rule="evenodd"
                                            d="M20.707 5.293a1 1 0 010 1.414l-11 11a1 1 0 01-1.414 0l-5-5a1 1 0 111.414-1.414L9 15.586 19.293 5.293a1 1 0 011.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <span class="text-sm text-gray-500">White labeled widgets and forms</span>
                            </li>
                            <li class="flex space-x-3">
                                <div class="flex justify-center items-center rounded-full bg-green-100 h-5 w-5"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                        aria-hidden="true" class="h-3 w-3 flex-shrink-0 text-green-500">
                                        <path fill-rule="evenodd"
                                            d="M20.707 5.293a1 1 0 010 1.414l-11 11a1 1 0 01-1.414 0l-5-5a1 1 0 111.414-1.414L9 15.586 19.293 5.293a1 1 0 011.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <span class="text-sm text-gray-500">Custom branding (logo, colors, etc...)</span>
                            </li>
                            <li class="flex space-x-3">
                                <div class="flex justify-center items-center rounded-full bg-green-100 h-5 w-5"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                        aria-hidden="true" class="h-3 w-3 flex-shrink-0 text-green-500">
                                        <path fill-rule="evenodd"
                                            d="M20.707 5.293a1 1 0 010 1.414l-11 11a1 1 0 01-1.414 0l-5-5a1 1 0 111.414-1.414L9 15.586 19.293 5.293a1 1 0 011.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <span class="text-sm text-gray-500">2 members per workspace</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-20">
        <div class="text-gray-700 body-font">
            <h1 class="text-4xl font-bold mb-4 text-center">
                Why choose<span class="text-yellow-500">Us?</span>
            </h1>
            <div class="container px-5  mx-auto">
                <div class="flex flex-wrap text-center justify-center">
                    <div class="p-4 md:w-1/4 sm:w-1/2">
                        <div class="px-4 py-6 transform transition duration-500 hover:scale-110">
                            <div class="flex justify-center">
                                <img src="https://image3.jdomni.in/banner/13062021/58/97/7C/E53960D1295621EFCB5B13F335_1623567851299.png?output-format=webp"
                                    class="w-32 mb-3">
                            </div>
                            <h2 class="title-font font-regular text-2xl text-gray-900">Latest Milling Machinery</h2>
                        </div>
                    </div>

                    <div class="p-4 md:w-1/4 sm:w-1/2">
                        <div class="px-4 py-6 transform transition duration-500 hover:scale-110">
                            <div class="flex justify-center">
                                <img src="https://image2.jdomni.in/banner/13062021/3E/57/E8/1D6E23DD7E12571705CAC761E7_1623567977295.png?output-format=webp"
                                    class="w-32 mb-3">
                            </div>
                            <h2 class="title-font font-regular text-2xl text-gray-900">Reasonable Rates</h2>
                        </div>
                    </div>

                    <div class="p-4 md:w-1/4 sm:w-1/2">
                        <div class="px-4 py-6 transform transition duration-500 hover:scale-110">
                            <div class="flex justify-center">
                                <img src="https://image3.jdomni.in/banner/13062021/16/7E/7E/5A9920439E52EF309F27B43EEB_1623568010437.png?output-format=webp"
                                    class="w-32 mb-3">
                            </div>
                            <h2 class="title-font font-regular text-2xl text-gray-900">Time Efficiency</h2>
                        </div>
                    </div>

                    <div class="p-4 md:w-1/4 sm:w-1/2">
                        <div class="px-4 py-6 transform transition duration-500 hover:scale-110">
                            <div class="flex justify-center">
                                <img src="https://image3.jdomni.in/banner/13062021/EB/99/EE/8B46027500E987A5142ECC1CE1_1623567959360.png?output-format=webp"
                                    class="w-32 mb-3">
                            </div>
                            <h2 class="title-font font-regular text-2xl text-gray-900">Expertise in Industry</h2>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <hr class="my-10">
        <div class="relative z-40 mx-auto mt-12">
            <h1 class="font-bold text-blue-300 my-3 text-4xl text-center mb-10">
                Industries <span class="text-yellow-500 ">We work with</span>
            </h1>
            <div class="flex flex-wrap justify-center mx-auto lg:w-full md:w-5/6 xl:shadow-small-blue">

                <a href="#" class="block w-1/2 py-10 text-center border lg:w-1/4">
                    <div>
                        <img src="https://redpixelthemes.com/assets/images/icon-portfolio-green.svg"
                            class="block mx-auto">

                        <p
                            class="pt-4 text-sm font-medium capitalize font-body text-green-900 lg:text-lg md:text-base md:pt-6">
                            portfolio
                        </p>
                    </div>
                </a>

                <a href="#" class="block w-1/2 py-10 text-center border lg:w-1/4">
                    <div>
                        <img src="https://redpixelthemes.com/assets/images/icon-blog-green.svg" class="block mx-auto">

                        <p
                            class="pt-4 text-sm font-medium capitalize font-body text-green-900 lg:text-lg md:text-base md:pt-6">
                            blog
                        </p>
                    </div>
                </a>

                <a href="#" class="block w-1/2 py-10 text-center border lg:w-1/4">
                    <div>
                        <img src="https://redpixelthemes.com/assets/images/icon-ecommerce-green.svg"
                            class="block mx-auto">

                        <p
                            class="pt-4 text-sm font-medium capitalize font-body text-green-900 lg:text-lg md:text-base md:pt-6">
                            ecommerce
                        </p>
                    </div>
                </a>

                <a href="#" class="block w-1/2 py-10 text-center border lg:w-1/4">
                    <div>
                        <img src="https://redpixelthemes.com/assets/images/icon-startup-green.svg"
                            class="block mx-auto">

                        <p
                            class="pt-4 text-sm font-medium capitalize font-body text-green-900 lg:text-lg md:text-base md:pt-6">
                            startup
                        </p>
                    </div>
                </a>

                <a href="#" class="block w-1/2 py-10 text-center border lg:w-1/4">
                    <div>
                        <img src="https://redpixelthemes.com/assets/images/icon-business-green.svg"
                            class="block mx-auto">

                        <p
                            class="pt-4 text-sm font-medium capitalize font-body text-green-900 lg:text-lg md:text-base md:pt-6">
                            business
                        </p>
                    </div>
                </a>

                <a href="#" class="block w-1/2 py-10 text-center border lg:w-1/4">
                    <div>
                        <img src="https://redpixelthemes.com/assets/images/icon-lifestyle-green.svg"
                            class="block mx-auto">

                        <p
                            class="pt-4 text-sm font-medium capitalize font-body text-green-900 lg:text-lg md:text-base md:pt-6">
                            lifestyle
                        </p>
                    </div>
                </a>

                <a href="#" class="block w-1/2 py-10 text-center border lg:w-1/4">
                    <div>
                        <img src="https://redpixelthemes.com/assets/images/icon-landing-page-green.svg"
                            class="block mx-auto">

                        <p
                            class="pt-4 text-sm font-medium capitalize font-body text-green-900 lg:text-lg md:text-base md:pt-6">
                            landing pages
                        </p>
                    </div>
                </a>

                <a href="#" class="block w-1/2 py-10 text-center border lg:w-1/4">
                    <div>
                        <img src="https://redpixelthemes.com/assets/images/icon-health-green.svg" class="block mx-auto">

                        <p
                            class="pt-4 text-sm font-medium capitalize font-body text-green-900 lg:text-lg md:text-base md:pt-6">
                            health
                        </p>
                    </div>
                </a>

            </div>

        </div>
        <hr class="py-10">
        <div>
            <h1 class="font-bold text-blue-300  text-4xl text-center">

                Client <span class="text-yellow-500">Testimonials</span>
            </h1>
            <div data-aos="zoom-in-left" class="lg:w-7/12 w-full mx-auto">
                <div class="swiper testimonialSwiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper py-10" id="testimonialSwiper">
                        <!-- Slides -->

                        <div class="swiper-slide" data-aos="flip-up">
                            <div class="p-3 bg-white border-2 border-yellow-500 rounded-lg w-full  overflow-x-auto">
                                <div class="flex items-center justify-center mb-5 overflow-x-auto">
                                    <!-- Your SVG icons here -->
                                    <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                        <path
                                            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                    </svg>
                                    <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                        <path
                                            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                    </svg>
                                    <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                        <path
                                            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                    </svg>
                                    <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                        <path
                                            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                    </svg>
                                    <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                        <path
                                            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                    </svg>
                                </div>
                                <div class="ud-testimonial-content mb-6">
                                    <p class="text-md text-justify text-body-color">
                                        <span class="text-3xl">"</span> Working with Blazync Technologies was a
                                        game-changer
                                        for our
                                        business. Their custom software solution streamlined our operations and improved
                                        our
                                        overall
                                        efficiency.
                                        Great team to collaborate with! <span class="text-3xl">"</span>
                                    </p>
                                </div>
                                <div class="flex items-center justify-center">
                                    <div class="w-10 h-10 rounded-full overflow-hidden mr-5">
                                        <img src="/img/clients/2.png" alt="author" />
                                    </div>
                                    <div>
                                        <h4 class="text-sm font-semibold">Amrit</h4>
                                        <p class="text-[#969696] text-xs">Founder @ The Weell food Hotel</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="swiper-slide" data-aos="flip-up">
                            <div class="p-3 bg-white border-2 border-yellow-500 rounded-lg w-full overflow-x-auto">
                                <div class="flex items-center justify-center mb-5 overflow-x-auto">
                                    <!-- Your SVG icons here -->
                                    <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                        <path
                                            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                    </svg>
                                    <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                        <path
                                            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                    </svg>
                                    <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                        <path
                                            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                    </svg>
                                    <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                        <path
                                            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                    </svg>
                                    <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                        <path
                                            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                    </svg>
                                </div>
                                <div class="ud-testimonial-content mb-6">
                                    <p class="text-md text-justify text-body-color">
                                        <span class="text-3xl">"</span> Working with Blazync Technologies was a
                                        game-changer
                                        for our
                                        business. Their custom software solution streamlined our operations and improved
                                        our
                                        overall
                                        efficiency.
                                        Great team to collaborate with! <span class="text-3xl">"</span>
                                    </p>
                                </div>
                                <div class="flex items-center justify-center">
                                    <div class="w-10 h-10 rounded-full overflow-hidden mr-5">
                                        <img src="/img/clients/2.png" alt="author" />
                                    </div>
                                    <div>
                                        <h4 class="text-sm font-semibold">Amrit</h4>
                                        <p class="text-[#969696] text-xs">Founder @ The Weell food Hotel</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- If we need pagination -->

                    <!-- If we need pagination -->
                    <div class="testimonial-pagination text-center"></div>
                    <div class="flex justify-center space-x-6">
                        <div
                            class="testimonial-swiper-prev border border-yellow-500 h-14 w-14 rounded-full flex items-center justify-center">
                            <svg class="w-5 h-5" viewBox="0 0 26 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0.292893 7.29289C-0.097631 7.68342 -0.097631 8.31658 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.4616 14.6805 8.4616 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.4616 1.95262 8.4616 1.31946 8.07107 0.928934C7.68054 0.538409 7.04738 0.538409 6.65685 0.928934L0.292893 7.29289ZM25 7L0 7L0 9L25 9L25 7Z"
                                    fill="#F48C06" />
                            </svg>

                        </div>
                        <div
                            class="testimonial-swiper-next border border-yellow-500 h-14 w-14 rounded-full flex items-center justify-center">
                            <svg class="w-5 h-5" viewBox="0 0 26 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M25.7071 8.70711C26.0976 8.31658 26.0976 7.68342 25.7071 7.2929L19.3431 0.928934C18.9526 0.538409 18.3195 0.538409 17.9289 0.928934C17.5384 1.31946 17.5384 1.95262 17.9289 2.34315L23.5858 8L17.9289 13.6569C17.5384 14.0474 17.5384 14.6805 17.9289 15.0711C18.3195 15.4616 18.9526 15.4616 19.3431 15.0711L25.7071 8.70711ZM-8.74228e-08 9L25 9L25 7L8.74228e-08 7L-8.74228e-08 9Z"
                                    fill="#F48C06" />
                            </svg>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="bg-gray-700 py-5 rounded-lg mt-20">
            <h1 class="font-bold text-blue-300  text-4xl text-center">

                Still have <span class="text-yellow-500">any Queries?</span>
            </h1>
            <button data-aos="flip-up"
                class="px-5 py-3 border bg-yellow-500 text-white font-medium my-5 focus:outline-none transform transition hover:scale-110 duration-300 ease-in-out rounded-full mx-auto block">
                Get In Touch With Us
            </button>
        </div>

        <!-- Client Logos Slider -->
        <hr class="py-10" />
        <div>
            <div class="flex flex-col items-center justify-center mx-5">
                <h1 class="text-3xl lg:text-4xl font-medium">
                    Trusted by Industry Leaders
                </h1>
                <p>We are trusted by some leading companies.</p>
            </div>
            <div class="swiper clientSwiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper py-10" id="clientSlider">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <img src="/img/clients/1.png" alt="" class="w-20 h-20" />
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/clients/2.png" alt="" class="w-20 h-20" />
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/clients/3.png" alt="" class="w-20 h-20" />
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/clients/1.png" alt="" class="w-20 h-20" />
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/clients/2.png" alt="" class="w-20 h-20" />
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/clients/3.png" alt="" class="w-20 h-20" />
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/clients/1.png" alt="" class="w-20 h-20" />
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/clients/2.png" alt="" class="w-20 h-20" />
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/clients/3.png" alt="" class="w-20 h-20" />
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/clients/1.png" alt="" class="w-20 h-20" />
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/clients/2.png" alt="" class="w-20 h-20" />
                    </div>

                    ...
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>

    </section>
    <%- include('includes/footer') %>