<%- include('includes/head') %>
    <div class="flex flex-col items-center justify-center[200px] bg-gray-800 pt-10">
        <h1 class="font-bold text-blue-300 my-3 text-4xl">
            Contact <span class="text-yellow-500">Us</span>
        </h1>
        <p class="mx-5 lg:mx-40 text-white mb-10">Welcome to our Blazync Technologies! We're thrilled to connect with
            you. Whether you're ready to embark on an exciting project
            together or simply want to learn more about our services, we're here to assist you every step of the way.
            Our dedicated
            team is committed to providing exceptional service and support, ensuring that your experience with us is
            smooth and
            rewarding. Feel free to reach out to us via the form below or through our contact details provided. We look
            forward to
            hearing from you and exploring how we can collaborate to achieve your goals.</p>
        <a href="#contact-form" class="my-10"><button
                class="lg:mx-0 bg-yellow-500 text-white text-xl font-bold rounded-full py-4 px-9 focus:outline-none transform transition hover:scale-110 duration-300 ease-in-out">
                Send Message
            </button></a>
    </div>

    <section class="container px-4  lg:px-8 mx-auto max-w-screen-xl text-gray-700 overflow-x-hidden">
        <div class="md:flex mt-20 md:space-x-10 items-start">
            <div data-aos="fade-down" class="md:w-7/12 relative">

                <img class="relative z-40 floating rounded-lg h-full w-full" src="img/contact.jpg" alt="" />

            </div>
            <div data-aos="fade-down" class="md:w-5/12 mt-20 md:mt-0 text-gray-500">
                <h1 class="text-2xl font-semibold text-darken lg:pr-40">
                    Do you have <span class="text-yellow-500">any Project</span> to discuss. Why Choose Us?
                </h1>
                <div class="flex items-center space-x-5 my-5">
                    <div class="flex-shrink bg-white shadow-lg rounded-full p-3 flex items-center justify-center">
                        <svg class="w-4 h-4" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="11.8182" height="11.8182" rx="2" fill="#2F327D" />
                            <rect y="14.1816" width="11.8182" height="11.8182" rx="2" fill="#2F327D" />
                            <rect x="14.7727" width="11.8182" height="11.8182" rx="2" fill="#2F327D" />
                            <rect x="14.7727" y="14.1816" width="11.8182" height="11.8182" rx="2" fill="#F48C06" />
                        </svg>
                    </div>
                    <p>
                        Specialized Expertise: Our niche expertise and industry knowledge allow us to address specific
                        client needs effectively.
                    </p>
                </div>
                <div class="flex items-center space-x-5 my-5">
                    <div class="flex-shrink bg-white shadow-lg rounded-full p-3 flex items-center justify-center">
                        <svg class="w-4 h-4" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="8" y="6" width="20" height="20" rx="2" fill="#2F327D" />
                            <rect width="21.2245" height="21.2245" rx="2" fill="#F48C06" />
                        </svg>
                    </div>
                    <p>Proven Track Record: We have a track record of successful projects and satisfied clients,
                        demonstrating our reliability
                        and competence.</p>
                </div>
                <div class="flex items-center space-x-5 my-5">
                    <div class="flex-shrink bg-white shadow-lg rounded-full p-3 flex items-center justify-center">
                        <svg class="w-4 h-4" viewBox="0 0 30 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4.5 11.375C6.15469 11.375 7.5 9.91758 7.5 8.125C7.5 6.33242 6.15469 4.875 4.5 4.875C2.84531 4.875 1.5 6.33242 1.5 8.125C1.5 9.91758 2.84531 11.375 4.5 11.375ZM25.5 11.375C27.1547 11.375 28.5 9.91758 28.5 8.125C28.5 6.33242 27.1547 4.875 25.5 4.875C23.8453 4.875 22.5 6.33242 22.5 8.125C22.5 9.91758 23.8453 11.375 25.5 11.375ZM27 13H24C23.175 13 22.4297 13.3605 21.8859 13.9445C23.775 15.0668 25.1156 17.093 25.4062 19.5H28.5C29.3297 19.5 30 18.7738 30 17.875V16.25C30 14.4574 28.6547 13 27 13ZM15 13C17.9016 13 20.25 10.4559 20.25 7.3125C20.25 4.16914 17.9016 1.625 15 1.625C12.0984 1.625 9.75 4.16914 9.75 7.3125C9.75 10.4559 12.0984 13 15 13ZM18.6 14.625H18.2109C17.2359 15.1328 16.1531 15.4375 15 15.4375C13.8469 15.4375 12.7688 15.1328 11.7891 14.625H11.4C8.41875 14.625 6 17.2453 6 20.475V21.9375C6 23.2832 7.00781 24.375 8.25 24.375H21.75C22.9922 24.375 24 23.2832 24 21.9375V20.475C24 17.2453 21.5812 14.625 18.6 14.625ZM8.11406 13.9445C7.57031 13.3605 6.825 13 6 13H3C1.34531 13 0 14.4574 0 16.25V17.875C0 18.7738 0.670312 19.5 1.5 19.5H4.58906C4.88438 17.093 6.225 15.0668 8.11406 13.9445Z"
                                fill="#2F327D" />
                        </svg>
                    </div>
                    <p>
                        Tailored Solutions: Our solutions are customized according to client requirements for optimal
                        outcomes.
                    </p>
                </div>
                <div class="flex items-center space-x-5 my-5">
                    <div class="flex-shrink bg-white shadow-lg rounded-full p-3 flex items-center justify-center">
                        <svg class="w-4 h-4" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="8" y="6" width="20" height="20" rx="2" fill="#2F327D" />
                            <rect width="21.2245" height="21.2245" rx="2" fill="#F48C06" />
                        </svg>
                    </div>
                    <p>Client Satisfaction: Ensuring client satisfaction and building long-term relationships is our
                        priority.</p>
                </div>
            </div>
        </div>
        <hr class="my-10">
        <section class="">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />

            <!-- Features -->
            <section class=" py-8 rounded-2xl">
                <div class="mx-auto text-center px-4">
                    <h1 class="font-bold text-darken my-3 text-4xl mb-10">
                        Our <span class="text-yellow-500">Contact Details</span>
                    </h1>
                    <div class="flex flex-wrap -mx-4">
                        <div class="w-full md:w-1/3 px-4 mb-8">
                            <div class="bg-white p-8 border-2 rounded-md h-60">
                                <i class="fas fa-envelope text-4xl text-blue-500 mb-4"></i>
                                <h3 class="text-xl font-bold text-gray-800 mb-2">Email</h3>
                                <p class="text-gray-600">contact@blazync.com</p>
                            </div>
                        </div>
                        <div class="w-full md:w-1/3 px-4 mb-8">
                            <div class="bg-white p-8 border-2 rounded-md h-60">
                                <i class="fa fa-phone text-4xl text-blue-500 mb-4" aria-hidden="true"></i>
                                <h3 class="text-xl font-bold text-gray-800 mb-2">Phone</h3>
                                <p class="text-gray-600">+91 9470345817</p>
                            </div>
                        </div>
                        <div class="w-full md:w-1/3 px-4 mb-8">
                            <div class="bg-white p-8 border-2 rounded-md h-60">
                                <i class="fas fa-map-marker text-4xl text-blue-500 mb-4"></i>
                                <h3 class="text-xl font-bold text-gray-800 mb-2">Location</h3>
                                <p class="text-gray-600">428 SF, EWS Flats, Swarnnagri, Greater
                                    Noida. 201310</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <div class=" mx-auto ">
            <div class="grid grid-cols-1 md:grid-cols-12 border rounded-lg">
                <div class="bg-gray-900 md:col-span-4 p-10 text-white rounded-lg">
                    <p class="mt-4 text-sm leading-7 font-regular uppercase">
                        Contact
                    </p>
                    <h3 class="text-3xl sm:text-4xl leading-normal font-extrabold tracking-tight">
                        Get In <span class="text-indigo-600">Touch</span>
                    </h3>
                    <p class="mt-4 leading-7 text-gray-200">
                        Fill out the contact form below with your name, email address, and message, and we'll get back
                        to you as soon as
                        possible. We value your inquiries and aim to provide prompt and helpful responses.
                    </p>

                    <div class="flex items-center mt-5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="#38fcff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-map-pin">
                            <path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z" />
                            <circle cx="12" cy="10" r="3" />
                        </svg>
                        <span class="text-sm ml-2">428 SF, EWS Flats, Swarnnagri, Greater Noida. 201310</span>
                    </div>
                    <div class="flex items-center mt-5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="#38fcff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-phone">
                            <path
                                d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z" />
                        </svg>
                        <span class="text-sm ml-2">+91 9470345817</span>
                    </div>
                    <div class="flex items-center mt-5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="#38fcff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-mail">
                            <rect width="20" height="16" x="2" y="4" rx="2" />
                            <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7" />
                        </svg>
                        <span class="text-sm ml-2"> contact@blazync.com</span>
                    </div>

                </div>
                <form class="md:col-span-8 p-10" id="contact-form">
                    <div class="flex flex-wrap -mx-3 mb-6">
                        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                for="grid-first-name">
                                First Name
                            </label>
                            <input
                                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                                id="grid-first-name" type="text" placeholder="Jane">
                            <p class="text-red-500 text-xs italic">Please fill out this field.</p>
                        </div>
                        <div class="w-full md:w-1/2 px-3">
                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                for="grid-last-name">
                                Last Name
                            </label>
                            <input
                                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="grid-last-name" type="text" placeholder="Doe">
                        </div>
                    </div>
                    <div class="flex flex-wrap -mx-3 mb-6">
                        <div class="w-full px-3">
                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                for="grid-password">
                                Email Address
                            </label>
                            <input
                                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="grid-email" type="email" placeholder="********@*****.**">
                        </div>
                    </div>

                    <div class="flex flex-wrap -mx-3 mb-6">
                        <div class="w-full px-3">
                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                for="grid-password">
                                Your Message
                            </label>
                            <textarea rows="10"
                                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"></textarea>
                        </div>
                        <div class="flex justify-between w-full px-3">
                            <div class="md:flex md:items-center">
                                <label class="block text-gray-500 font-bold">
                                    <input class="mr-2 leading-tight" type="checkbox">
                                    <span class="text-sm">
                                        Send me your newsletter!
                                    </span>
                                </label>
                            </div>
                            <button
                                class="shadow bg-indigo-600 hover:bg-indigo-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-6 rounded"
                                type="submit">
                                Send Message
                            </button>
                        </div>

                    </div>

                </form>

            </div>


        </div>
        <hr class="my-10">
        <div class=" ">
            <h1 class="text-darken text-3xl text-center mb-5 ">Follow Us on Social media</h1>
            <div class="flex justify-center space-x-5">
                <a href="https://facebook.com" target="_blank" rel="noopener noreferrer">
                    <img src="https://img.icons8.com/fluent/30/000000/facebook-new.png" />
                </a>
                <a href="https://linkedin.com" target="_blank" rel="noopener noreferrer">
                    <img src="https://img.icons8.com/fluent/30/000000/linkedin-2.png" />
                </a>
                <a href="https://instagram.com" target="_blank" rel="noopener noreferrer">
                    <img src="https://img.icons8.com/fluent/30/000000/instagram-new.png" />
                </a>
                <a href="https://messenger.com" target="_blank" rel="noopener noreferrer">
                    <img src="https://img.icons8.com/fluent/30/000000/facebook-messenger--v2.png" />
                </a>
                <a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
                    <img src="https://img.icons8.com/fluent/30/000000/twitter.png" />
                </a>
            </div>

        </div>
    </section>

    <%- include('includes/footer') %>