<%- include('includes/head') %>
    <div class="flex flex-col items-center justify-center[200px] bg-gray-800 pt-10">
        <h1 class="font-bold text-blue-300 my-3 text-4xl">
            Our <span class="text-yellow-500">Services</span>
        </h1>
        <p class="mx-5 lg:mx-40 text-white mb-10">At Blazync Technologies, we pride ourselves on offering a wide range
            of top-tier software solutions designed to meet the
            diverse needs of modern businesses and educational institutions. From initial consultation to final
            implementation, our
            comprehensive services are tailored to ensure your organization reaps the full benefits of digital
            innovation.</p>
        <a href="#job-application" class="my-10"><button
                class="lg:mx-0 bg-yellow-500 text-white text-xl font-bold rounded-full py-4 px-9 focus:outline-none transform transition hover:scale-110 duration-300 ease-in-out">
                Business Inquiry
            </button></a>
    </div>
    <section class="container px-4  lg:px-8 mx-auto max-w-screen-xl text-gray-700 overflow-x-hidden">
        <div class="relative overflow-hidden bg-gray-50 dark:bg-gray-900">

            <div class="mt-2 md:mt-0 py-12 pb-6  overflow-hidden">

                <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 relative">
                    <h1 class="text-4xl font-semibold text-darken  text-center">
                        How <span class="text-yellow-500"> We Work?
                    </h1>
                    <div class="relative mt-10">
                        <div class="absolute inset-x-0 hidden xl:px-44 top-2 md:block md:px-20 lg:px-28">
                            <svg class="w-full" xmlns="http://www.w3.org/2000/svg" width="875" height="48"
                                viewBox="0 0 875 48" fill="none">
                                <path
                                    d="M2 29C20.2154 33.6961 38.9915 35.1324 57.6111 37.5555C80.2065 40.496 102.791 43.3231 125.556 44.5555C163.184 46.5927 201.26 45 238.944 45C312.75 45 385.368 30.7371 458.278 20.6666C495.231 15.5627 532.399 11.6429 569.278 6.11109C589.515 3.07551 609.767 2.09927 630.222 1.99998C655.606 1.87676 681.208 1.11809 706.556 2.44442C739.552 4.17096 772.539 6.75565 805.222 11.5C828 14.8064 850.34 20.2233 873 24"
                                    stroke="#D4D4D8" stroke-width="3" stroke-linecap="round" stroke-dasharray="1 12" />
                            </svg>
                        </div>
                        <div
                            class="relative grid grid-cols-1 text-center gap-y-8 sm:gap-y-10 md:gap-y-12 md:grid-cols-3 gap-x-12">
                            <div>
                                <div
                                    class="flex items-center justify-center w-16 h-16 mx-auto bg-white dark:bg-gray-800 border-2 border-gray-200 dark:border-gray-700 rounded-full shadow">
                                    <span class="text-xl font-semibold text-gray-700 dark:text-gray-200">1</span>
                                </div>
                                <h3
                                    class="mt-4 sm:mt-6 text-xl font-semibold leading-tight text-gray-900 dark:text-white md:mt-10">
                                    Agile Approach
                                </h3>
                                <p class="mt-3 sm:mt-4 text-base text-gray-600 dark:text-gray-400">
                                    We embrace an agile methodology, ensuring flexibility and adaptability throughout
                                    the project lifecycle. By breaking
                                    down complex tasks into manageable sprints, we deliver incremental value and
                                    maintain transparency with our clients.
                                </p>
                            </div>
                            <div>
                                <div
                                    class="flex items-center justify-center w-16 h-16 mx-auto bg-white dark:bg-gray-800 border-2 border-gray-200 dark:border-gray-700 rounded-full shadow">
                                    <span class="text-xl font-semibold text-gray-700 dark:text-gray-200">2</span>
                                </div>
                                <h3
                                    class="mt-4 sm:mt-6 text-xl font-semibold leading-tight text-gray-900 dark:text-white md:mt-10">
                                    Collaborative Process
                                </h3>
                                <p class="mt-3 sm:mt-4 text-base text-gray-600 dark:text-gray-400">
                                    Collaboration is at the heart of our process. We work closely with our clients,
                                    fostering open communication and
                                    feedback loops at every stage. This collaborative approach enables us to align our
                                    efforts with your vision and goals
                                    effectively.
                                </p>
                            </div>
                            <div>
                                <div
                                    class="flex items-center justify-center w-16 h-16 mx-auto bg-white dark:bg-gray-800 border-2 border-gray-200 dark:border-gray-700 rounded-full shadow">
                                    <span class="text-xl font-semibold text-gray-700 dark:text-gray-200">3</span>
                                </div>
                                <h3
                                    class="mt-4 sm:mt-6 text-xl font-semibold leading-tight text-gray-900 dark:text-white md:mt-10">
                                    Iterative Refinement
                                </h3>
                                <p class="mt-3 sm:mt-4 text-base text-gray-600 dark:text-gray-400">
                                    Continuous improvement drives our work. Through iterative refinement, we regularly
                                    evaluate and enhance our solutions
                                    based on user feedback and evolving requirements. This iterative approach ensures
                                    that we deliver high-quality results
                                    that exceed expectations.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-5">
        <h1 class="text-4xl font-semibold text-darken  text-center">
            Our <span class="text-yellow-500"> Services
        </h1>
        <div class="md:flex mt-20 md:space-x-10 items-start">
            <div data-aos="fade-down" class="md:w-7/12 relative">

                <img class="relative z-40 floating rounded-lg h-full w-full" src="img/contact.jpg" alt="" />

            </div>
            <div data-aos="fade-down" class="md:w-5/12 mt-20 md:mt-0 text-gray-500">
                <h1 class="text-2xl font-semibold text-darken lg:pr-40">
                    Website <span class="text-yellow-500"> Development
                </h1>
                <p>Elevate your online presence with our professional website development services. We specialize in
                    creating visually
                    appealing, user-friendly websites that drive engagement and conversions. From concept to launch, our
                    team collaborates
                    closely with you to understand your brand and objectives, delivering tailored solutions that align
                    with your business
                    goals.</p>
                <div class="flex items-center space-x-5 my-5">
                    <div class="flex-shrink bg-white shadow-lg rounded-full p-3 flex items-center justify-center">
                        <svg class="w-4 h-4" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="11.8182" height="11.8182" rx="2" fill="#2F327D" />
                            <rect y="14.1816" width="11.8182" height="11.8182" rx="2" fill="#2F327D" />
                            <rect x="14.7727" width="11.8182" height="11.8182" rx="2" fill="#2F327D" />
                            <rect x="14.7727" y="14.1816" width="11.8182" height="11.8182" rx="2" fill="#F48C06" />
                        </svg>
                    </div>
                    <p>
                        Custom Design: We craft custom website designs that reflect your brand identity and resonate
                        with your target audience.
                    </p>
                </div>
                <div class="flex items-center space-x-5 my-5">
                    <div class="flex-shrink bg-white shadow-lg rounded-full p-3 flex items-center justify-center">
                        <svg class="w-4 h-4" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="8" y="6" width="20" height="20" rx="2" fill="#2F327D" />
                            <rect width="21.2245" height="21.2245" rx="2" fill="#F48C06" />
                        </svg>
                    </div>
                    <p>Responsive Development: Our websites are optimized for seamless performance across all devices,
                        ensuring a consistent
                        user experience.</p>
                </div>
                <div class="flex items-center space-x-5 my-5">
                    <div class="flex-shrink bg-white shadow-lg rounded-full p-3 flex items-center justify-center">
                        <svg class="w-4 h-4" viewBox="0 0 30 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4.5 11.375C6.15469 11.375 7.5 9.91758 7.5 8.125C7.5 6.33242 6.15469 4.875 4.5 4.875C2.84531 4.875 1.5 6.33242 1.5 8.125C1.5 9.91758 2.84531 11.375 4.5 11.375ZM25.5 11.375C27.1547 11.375 28.5 9.91758 28.5 8.125C28.5 6.33242 27.1547 4.875 25.5 4.875C23.8453 4.875 22.5 6.33242 22.5 8.125C22.5 9.91758 23.8453 11.375 25.5 11.375ZM27 13H24C23.175 13 22.4297 13.3605 21.8859 13.9445C23.775 15.0668 25.1156 17.093 25.4062 19.5H28.5C29.3297 19.5 30 18.7738 30 17.875V16.25C30 14.4574 28.6547 13 27 13ZM15 13C17.9016 13 20.25 10.4559 20.25 7.3125C20.25 4.16914 17.9016 1.625 15 1.625C12.0984 1.625 9.75 4.16914 9.75 7.3125C9.75 10.4559 12.0984 13 15 13ZM18.6 14.625H18.2109C17.2359 15.1328 16.1531 15.4375 15 15.4375C13.8469 15.4375 12.7688 15.1328 11.7891 14.625H11.4C8.41875 14.625 6 17.2453 6 20.475V21.9375C6 23.2832 7.00781 24.375 8.25 24.375H21.75C22.9922 24.375 24 23.2832 24 21.9375V20.475C24 17.2453 21.5812 14.625 18.6 14.625ZM8.11406 13.9445C7.57031 13.3605 6.825 13 6 13H3C1.34531 13 0 14.4574 0 16.25V17.875C0 18.7738 0.670312 19.5 1.5 19.5H4.58906C4.88438 17.093 6.225 15.0668 8.11406 13.9445Z"
                                fill="#2F327D" />
                        </svg>
                    </div>
                    <p>
                        User-Centric Approach: Every aspect of our website development focuses on user experience,
                        driving higher conversion
                        rates and customer satisfaction.
                    </p>
                </div>

            </div>
        </div>
        <hr class="my-10">
        <div class="relative z-40 mx-auto mt-12">
            <h1 class="font-bold text-blue-300 my-3 text-4xl text-center mb-10">
                Industries <span class="text-yellow-500 ">We work with</span>
            </h1>
            <div class="flex flex-wrap justify-center mx-auto lg:w-full md:w-5/6 xl:shadow-small-blue">

                <a href="#" class="block w-1/2 py-10 text-center border lg:w-1/4">
                    <div>
                        <img src="https://redpixelthemes.com/assets/images/icon-portfolio-green.svg"
                            class="block mx-auto">

                        <p
                            class="pt-4 text-sm font-medium capitalize font-body text-green-900 lg:text-lg md:text-base md:pt-6">
                            portfolio
                        </p>
                    </div>
                </a>

                <a href="#" class="block w-1/2 py-10 text-center border lg:w-1/4">
                    <div>
                        <img src="https://redpixelthemes.com/assets/images/icon-blog-green.svg" class="block mx-auto">

                        <p
                            class="pt-4 text-sm font-medium capitalize font-body text-green-900 lg:text-lg md:text-base md:pt-6">
                            blog
                        </p>
                    </div>
                </a>

                <a href="#" class="block w-1/2 py-10 text-center border lg:w-1/4">
                    <div>
                        <img src="https://redpixelthemes.com/assets/images/icon-ecommerce-green.svg"
                            class="block mx-auto">

                        <p
                            class="pt-4 text-sm font-medium capitalize font-body text-green-900 lg:text-lg md:text-base md:pt-6">
                            ecommerce
                        </p>
                    </div>
                </a>

                <a href="#" class="block w-1/2 py-10 text-center border lg:w-1/4">
                    <div>
                        <img src="https://redpixelthemes.com/assets/images/icon-startup-green.svg"
                            class="block mx-auto">

                        <p
                            class="pt-4 text-sm font-medium capitalize font-body text-green-900 lg:text-lg md:text-base md:pt-6">
                            startup
                        </p>
                    </div>
                </a>

                <a href="#" class="block w-1/2 py-10 text-center border lg:w-1/4">
                    <div>
                        <img src="https://redpixelthemes.com/assets/images/icon-business-green.svg"
                            class="block mx-auto">

                        <p
                            class="pt-4 text-sm font-medium capitalize font-body text-green-900 lg:text-lg md:text-base md:pt-6">
                            business
                        </p>
                    </div>
                </a>

                <a href="#" class="block w-1/2 py-10 text-center border lg:w-1/4">
                    <div>
                        <img src="https://redpixelthemes.com/assets/images/icon-lifestyle-green.svg"
                            class="block mx-auto">

                        <p
                            class="pt-4 text-sm font-medium capitalize font-body text-green-900 lg:text-lg md:text-base md:pt-6">
                            lifestyle
                        </p>
                    </div>
                </a>

                <a href="#" class="block w-1/2 py-10 text-center border lg:w-1/4">
                    <div>
                        <img src="https://redpixelthemes.com/assets/images/icon-landing-page-green.svg"
                            class="block mx-auto">

                        <p
                            class="pt-4 text-sm font-medium capitalize font-body text-green-900 lg:text-lg md:text-base md:pt-6">
                            landing pages
                        </p>
                    </div>
                </a>

                <a href="#" class="block w-1/2 py-10 text-center border lg:w-1/4">
                    <div>
                        <img src="https://redpixelthemes.com/assets/images/icon-health-green.svg" class="block mx-auto">

                        <p
                            class="pt-4 text-sm font-medium capitalize font-body text-green-900 lg:text-lg md:text-base md:pt-6">
                            health
                        </p>
                    </div>
                </a>

            </div>

        </div>

        <div class="bg-gray-700 py-5 rounded-lg mt-20">
            <h1 class="font-bold text-blue-300  text-4xl text-center">

                Still have <span class="text-yellow-500">any Queries?</span>
            </h1>
            <button data-aos="flip-up"
                class="px-5 py-3 border bg-yellow-500 text-white font-medium my-5 focus:outline-none transform transition hover:scale-110 duration-300 ease-in-out rounded-full mx-auto block">
                Get In Touch With Us
            </button>
        </div>

    </section>
    <%- include('includes/footer') %>